body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #000;
  background: #f7f7f7;
}
.page-width {
  max-width: 1920px;
  margin: auto;
}
.main-section {
  padding: 15px;
}
.custom-navbar {
  background: #fff;
  border-radius: 99px;
  padding: 0px 10px;
}
.logo {
  margin-right: 50px;
}

.custom-search {
  background: #dcdcdc4d url("../images/search.png") no-repeat 25px 50%;
  border: 0px;
  border-radius: 60px;
  color: #a1a1a1;
  font-size: 16px;
  height: 48px;
  padding-left: 60px;
  flex: 1;
}
.custom-search:focus {
  box-shadow: none;
  outline: none;
  background-color: #dcdcdc4d;
}
.btn-cart {
  background: #dcdcdc4d;
  border-radius: 100%;
  position: relative;
  height: 48px;
  width: 48px;
}

.btn-cart:focus {
  box-shadow: none;
  outline: none;
  background: #dcdcdc4d;
}
span.dot {
  background: #ff0000;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0px;
}
.custom-menu-list li a:hover {
  background: #efefef;
  color: #000000;
}
.custom-menu-list li .active {
  background: #efefef;
  border-radius: 30px;
  font-weight: 500 !important;
}
.custom-menu-list li.nav-item {
  padding: 0px 4px;
}
.custom-menu-list li.nav-item a {
  border-radius: 30px;
  color: #00000080;
  font-size: 16px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  padding: 5px 10px;
}
.banner-section {
  background: linear-gradient(251.59deg, #9bb8cb -34.21%, #e8e8e8 62.49%);
  padding: 15px 15px 0px 15px;
  border-radius: 32px;
  transition: background-color 0.3s ease, color 0.3s ease;
  overflow: hidden;
}
.banner {
  max-width: 160rem;
  margin: auto;
  padding-top: 15%;
  text-align: center;

  position: relative;
}
.middle-text {
  max-width: 77rem;
  margin: auto;
}

.banner h1 {
  font-size: 6vw;
  font-weight: 400;
  text-align: center;
  line-height: 96px;
  opacity: 0.3;
  z-index: 10;
  position: relative;
}

.banner p {
  font-size: 24px;
  margin-top: 10px;
  opacity: 0.3;
  z-index: 10;
  position: relative;
}
.banner-section.banner-scrolled {
  background: linear-gradient(187.09deg, #9bb8cb -0.2%, #e8e8e8 115.65%);
  transition: background 0.3s ease;
  padding-bottom: 10%;
}
.banner-section.banner-scrolled .banner {
  transform: translateY(-100px);
}
.banner-section.banner-scrolled .banner-shadow {
  display: none;
}

.banner-section.banner-scrolled .banner-shadow-right {
  display: none;
}

.banner-section.banner-scrolled .left-banner-cap {
  bottom: -194px;
}

.banner-section.banner-scrolled .right-banner-cap {
  bottom: -130%;
  right: 0%;
}
.banner-section.banner-scrolled .btn-start {
  background: #000;
}
.banner {
  transition: transform 0.6s ease;
}

.banner-shadow,
.banner-shadow-right,
.left-banner-cap,
.right-banner-cap,
.btn-start {
  transition: all 0.6s ease;
}
.btn-rotate {
  margin-bottom: 16px;
  border: 0px;
  border-radius: 30px;
  background: #e2e2e2;
  filter: opacity(50%);
  transition: background-color 0.3s ease, color 0.3s ease;
}
.btn-rotate.scrolled {
  background: #e2e2e2;
  color: #000000;
  filter: opacity(100%);
}
.btn-start {
  background: #a1a2a2;
  border: 0px;
  border-radius: 60px;
  padding: 20px 30px;
  font-size: 20px;
  color: #ffffff;
}
.card-content {
  background-color: #fff;
  padding: 50px;
  position: relative;
  display: table;
  width: 100%;
  border-radius: 40px;
}
.content-section {
  padding: 0px 15px 15px;
}
.line-svg {
  position: absolute;
  top: 0px;
  right: 0;
  left: 0px;
  height:80%;
}

.content-card {
  width: 100%;
  float: left;
}

.card-tast {
  width: 60%;
  float: left;
}

.cap-1 {
  width: 33%;
  float: right;
}

.card-tast h1 {
  font-size: 64px;
  font-weight: 400;
  line-height: 72px;
}

.card-tast .your-test {
  color: #9bb8cb;
}
.content-text {
  color: rgba(0, 0, 0, 0.7);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: normal;
}

.card-tast {
  padding-left: 8%;
  padding-top: 0%;
}
img {
  max-width: 100%;
}
.hat {
  padding-top: 30%;
}
.botttom-h-150 {
  margin-bottom: -150px;
}
.hat img {
  margin-left: -55px;
}
.secound-section {
  padding-left: 6vw;

  position: relative;
  z-index: 100;
  display: table;
  width: 100%;
}

.titlecard h1 {
  font-weight: 400;
  font-size: 52px;
  line-height: 72px;
  color: #000000;
  font-family: 'Inter Display', sans-serif;
}
.card-1 {
  background: linear-gradient(
    335.76deg,
    rgba(211, 230, 255, 0.2) 6.16%,
    #8ab1e3 128.28%
  );
  border-radius: 32px;
  position: relative;
}

.cardbox-details {
  padding-top: 70px;
}

.card-one img {
  margin-top: -30px;
  width: 250px;
  display: inline-block;
}

.card-one {
  text-align: center;
  position: relative;
}
.count {
  position: absolute;
  left: 15px;
  top: 15px;
  background: #00000033;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  color: #fff;
  font-size: 20px;
}
.text-des {
  padding: 15px;
}

.text-des h3 {
  color: #000;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.32px;
  font-family: 'Inter Display', sans-serif;
}

.text-des p {
  color: rgba(0, 0, 0, 0.80);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: normal;
  margin: 0;
}
.mt-100 {
  margin-top: 100px;
}
.mt-200 {
  margin-top: 200px;
}
.ps-50 {
  padding-left: 50px;
}
.w-5px {
  max-width: 55%;
}
.confirm-card {
  background: linear-gradient(360deg, #bbdeff 0%, #5bb0ff 100%);
  border-radius: 20px;
  padding: 20px;
}

.confirm-card .count1 {
  background: #efefef80;
  display: inline-flex;
  width: 40px;
  height: 40px;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #000000;
  border-radius: 100%;
}
.confirm-card h2 {
  font-size: 22px;
  color: #fff;
  font-weight: 400;
  font-family: 'Inter Display', sans-serif;
}

.confirm-card p {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  line-height: 24px;
}
.w-300 {
  width: 350px !important;
}
.bg-gradent {
  background: url("../images/gb.png") no-repeat center top;
}
.bg-gradent {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0%;
  right: 0;
}
.black-bg {
  background: #000000;
  padding: 30px 50px;
  border-radius: 20px;
}
.footer-text h3 {
  font-size: 75px;
  font-weight: 400;
  color: #fff;
  line-height: 71px;
  margin-bottom: 15px;
  font-family: "Montserrat", sans-serif;
}

.footer-text p {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  font-family: "Montserrat", sans-serif;
}

.newsletter {
  display: flex;
  align-items: center;
  background: #dcdcdc4d;
  border-radius: 30px;
  padding: 10px 10px 10px 20px;
  gap: 10px;
}

.newsletter input {
  width: 100%;
  padding: 0px;
  background: transparent;
  outline: none;
  border: 0;
  color: #fff;
}

.newsletter button {
  background: #ffffff;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 5px 15px;
  justify-content: space-between;
  gap: 10px;
  font-size: 16px;
  font-weight: 500;
  font-family: Montserrat;
  color: #404040;
  outline: none;
  border: 0;
}
hr.outline-border {
  background: #8d8d8d;
  margin: 0;
}
footer {
  color: #fff;
  font-family: "Montserrat", sans-serif;
}
.footer-content p {
  font-size: 18px;
  font-weight: 400;
  margin-top: 15px;
}
.social-icon {
  padding: 0px;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 10px;
}
.social-icon a {
  display: inline-block;
}
.footer-menu h3 {
  font-size: 24px;
  font-weight: 400;
  color: #fff;
}

.footer-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-menu ul li a {
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: #fff;
  display: block;
}

.footer-menu ul li {
  padding: 13.5px 0px;
}

#line-svg path {
  stroke-dasharray: 10000; /* This should be the length of the path */
  stroke-dashoffset: 10000;
  transition: stroke-dashoffset 0.3s ease-out;
}
.scroll-rotate {
  transition: transform 0.1s linear;
  transform-origin: center center;
}
.cap-motion {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}

.cap-motion img {
  width: 180px;
}

.navbar-section {
  position: relative;
  z-index: 99;
}
.outer-rotate {
  transition: transform 1s ease-in-out;
  transform-origin: center;
}
.banner-shadow {
  position: absolute;
  left: -24%;
  bottom: -87px;
}
.banner-shadow-right {
  position: absolute;
  right: -21%;
  bottom: -35px;
}
.btn-start {
  position: absolute;
  bottom: -63px;
  left: 50%;
  transform: translate(-50%, 15px);
}
.left-banner-cap {
  position: absolute;
  left: -8%;
  bottom: -100%;
  width: 450px;
}

.right-banner-cap {
  position: absolute;
  right: -20%;
  bottom: -116%;
  width: 450px;
}
.banner-section.banner-scrolled .right-banner-cap.top-right {
  bottom: -28%;
  z-index: 99;
  right: -14%;
}
.btn-rotate {
  z-index: 100;
  position: relative;
}
.banner-section.banner-scrolled .left-banner-cap.top-left {
  bottom: 15%;
  left: -30%;
}

.banner-section.banner-scrolled h1 {
  opacity: 1;
}

.banner-section.banner-scrolled p {
  opacity: 1;
}

/* Hidden state before scroll */
.animate {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.8s ease-out;
}

/* When in view */
.animate.in-view {
  opacity: 1;
  transform: translateY(0);
}

.animate.pop-in {
  transform: scale(0.8) rotate(-10deg);
  opacity: 0;
  transition: all 1s ease-out;
}
.animate.pop-in.in-view {
  transform: scale(1) rotate(0deg);
  opacity: 1;
}

.zoom-on-scroll {
  transition: transform 1s ease, opacity 1s ease;
  transform: scale(0);
  opacity: 0;
}

.zoom-on-scroll.in-view {
  transform: scale(1);
  opacity: 1;
}
@media (max-width: 1550px) {
  .navbar-section {
    width: 88% !important;
    margin: auto;
  }
}
.design-story {
  display: flex;
  gap: 20px;
}

.our-design-card {
  width: 33%;
  max-width: 504px;
}

.our-design-card-3 {
  width: 27%;
  max-width: 372px;
}
.our-top-3 {
  margin-top: -10px;
}
.our-patch-section {
  display: flex;
  gap: 30px;
}
.our-patch-card {
  width: 50%;
  max-width: 766px;
}
.our-brand-section {
  display: flex;
  gap: 30px;
}
.our-brand-card {
  width: 56.003%;
  max-width: 765px;
}

.our-brand-card-1 {
  width: 33%;
  max-width: 504px;
}
.mt-58 {
  margin-top: -58px;
}
.our-finalize-section {
  display: flex;
  gap: 30px;
}

.our-finalize-card {
  width: 50%;
}

.our-finalize-card-1 {
  width: 47%;
  margin-left: 1%;
  max-width: 635px;
}
.mt-p-80 {
  margin-top: -80px;
}
.mt-120 {
  margin-top: 150px;
}
.hatcap {
  width: 507.806px;
  max-width: max-content;
}
.cricle {
  width: 270px;
  height: 270px;
  transform: rotate(30deg);
  position: absolute;
  border-radius: 999999px;
  border: 1px solid #fff;
  background: linear-gradient(167deg, rgba(255, 255, 255, 0) 33.9%, #fff 90.42%);
  right: -2px;
  top: -85px;
}
