body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #000;
  background: #f7f7f7;
  overflow-x: hidden !important;
}
.line-svg svg {
    height: 3640px;
}
#shrink .titlecard {
    position: relative;
    top: 100px;
}
.card-one.animations img {
    margin: 220px 0 0;
    position: relative;
    right: 100px;
    bottom: 100px;
}
.patch2 {
    top: 240px;
}
.our-finalize-section {
    position: relative;
    top: 300px;
}
.patch {
    position: relative;
    top: 164px;
}
.content-text.produce {
    color: rgba(0, 0, 0, 0.70) !important;
    text-align: center !important;
    font-family: Inter;
    font-size: 20px !important;
    font-style: normal !important;
    font-weight: 300 !important;
    line-height: normal !important;
    letter-spacing: -0.24px !important;
    width: 610px !important;
    margin: 0 auto !important;
}
.hatcap {
  transition: all 0.5s ease;
  width: 100%;
}
.animated {
    background: linear-gradient(280.13deg, #9BB8CB 45.59%, #E8E8E8 126.63%) !important;
}
.hatcap.shrink {
    width: 770px;
    top: 160px;
}


img.hatcap.shrink.rotate {
    transform: rotate(-17.765deg);
    flex-shrink: 0;
    aspect-ratio: 855.81 / 617.06;
    filter: blur(0px);
    width: 870px;
    height: 870px;
    object-fit: cover;
    right: -98px;
    top: 230px;
}
.hatcap.rotate {
  animation: rotateAnim 1s ease-in-out forwards;
}

/*@keyframes rotateAnim {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/


@media screen and (max-width: 1899px) and (min-width: 1280px) {
    .secound-section {
        width: 92% !important;
        max-width: 1191px !important;

        margin: 100px auto 0 96px !important;
    }
    .card-content {
      width: 1395px !important;
      margin: 0 auto !important;
    }
    .line-svg svg {
      height: -webkit-fill-available !important;
    }
    .tops {
      margin-top: 10px !important;
    }
    .our-finalize-section {
    position: relative;
    top: 0px !important;
}
.card-one.animations img {
    margin: 250px 0 0 !important;
    position: relative;
    right: 0 !important;
    bottom: 0 !important;
}

    .patch2 {
    top: 0px !important;
}
    #shrink .titlecard {
    position: relative;
    top: 0px !important;
}
.patch {
    top: 0px !important;
}
    .hat {
    padding-top: 30%;
    height: 743px !important;

}
    .hatcap {
    width: 650px !important;
    position: absolute;
    top: 150px !important;
    right: 0;
}
    .hatcap.shrink {
    width: 500px !important;
  
}
img.hatcap.shrink.rotate {
    transform: rotate(-17.765deg);
    flex-shrink: 0;
    aspect-ratio: 855.81 / 617.06;
    filter: blur(0px);
    width: 599px !important;
    height: 630px !important;
    object-fit: cover;
    right: -100px !important;
    top: 150px !important;
}
.hat {
    padding-top: 30% !important;
    height: 743px !important;
}
    .card-tast h1 {
    font-size: 60px !important;
    line-height: 68px !important;
  
}
.content-text {
   font-size: 18px !important;
}

    .middle-text {
  max-width: 77rem !important;
  margin: auto;
}

    .banner h1 {
font-size: 80px !important;
line-height: 80px !important; /* 100% */
}
    
    .banner {
        padding-top: 298px !important;
    }
    .cap-image-left, .cap-image-right {
    position: absolute;
    top: 100%;
    width: 604px !important;
    z-index: 1;
    transition: transform 0.2s ease-out;
}
    .card-tast {
    padding-left: 9% !important;
    padding-top: 7% !important; 
    width: 690px !important;
}
    .line-svg {
      width: 100% !important;
      height: 83% !important;
      left: 0 !important;
    }
    .banner p {
    font-size: 20px !important;
    margin-top: 10px;
    opacity: 0.3;
    z-index: 10;
    position: relative;
    letter-spacing: -0.24px;
    font-family: 'Montserrat' !important;
}
.banner-shadow {
    position: absolute;
    left: -26px !important;
    bottom: -94px !important;
}

.banner-shadow img {
    width: 500px !important;
    object-fit: contain !important;
}
.banner-section.banner-scrolled .banner {
    transform: translateY(-150px) !important;
}
.btn-start {
  bottom: -68px !important;
}
.banner-shadow-right img {
    width: 400px;
    object-fit: contain;
}
.banner-shadow-right {
    position: absolute;
    right: -10px !important;
    bottom: -68px !important;
}
.banner-section {
  height: 600px !important;
}
.cap-image-right {
    right: 0% !important;
    top: 498px !important;
}
}

.page-width {
  max-width: 1920px;
  margin: auto;
 position: sticky;
    top: 0;
     
}
.main-section {
  padding: 15px;
  height: 180vh;
}
.custom-navbar {
  background: #fff;
  border-radius: 99px;
  padding: 0px 10px;
}
.logo {
  margin-right: 50px;
}

.custom-search {
  background: #dcdcdc4d url("../images/search.png") no-repeat 25px 50%;
  border: 0px;
  border-radius: 60px;
  color: #a1a1a1;
  font-size: 16px;
  height: 48px;
  padding-left: 60px;
  flex: 1;
}
.custom-search:focus {
  box-shadow: none;
  outline: none;
  background-color: #dcdcdc4d;
}
.btn-cart {
  background: #dcdcdc4d;
  border-radius: 100%;
  position: relative;
  height: 48px;
  width: 48px;
}

.btn-cart:focus {
  box-shadow: none;
  outline: none;
  background: #dcdcdc4d;
}
span.dot {
  background: #ff0000;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0px;
}
.custom-menu-list li a:hover {
  background: #efefef;
  color: #000000;
}
.custom-menu-list li .active {
  background: #efefef;
  border-radius: 30px;
  font-weight: 500 !important;
}
.custom-menu-list li.nav-item {
  padding: 0px 4px;
}
.custom-menu-list li.nav-item a {
  border-radius: 30px;
  color: #00000080;
  font-size: 16px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  padding: 5px 10px;
}
.banner-section {
  background: linear-gradient(251.59deg, #9bb8cb -34.21%, #e8e8e8 62.49%);
  padding: 15px 15px 0px 15px;
  border-radius: 32px;
  transition: background-color 0.3s ease, color 0.3s ease;
  overflow: hidden;
 
  height:720px; 
}
.banner {
  max-width: 160rem;
  margin: auto;
  padding-top: 380px;
  text-align: center;

  position: relative;
}
.middle-text {
  max-width: 85rem;
  margin: auto;
}

.banner h1 {
  opacity: 0.3;
  z-index: 10;
  position: relative;
  text-align: center;
font-family: Montserrat;
font-size: 96px;
font-style: normal;
font-weight: 600;
line-height: 96px; /* 100% */
letter-spacing: -0.96px;
}

.banner p {
  font-size: 24px;
  margin-top: 10px;
  opacity: 0.3;
  z-index: 10;
  position: relative;
}
.banner-section.banner-scrolled {
      background: linear-gradient(242.41deg, #9BB8CB -12.48%, #E8E8E8 67.16%);
/*  background: linear-gradient(187.09deg, #9bb8cb -0.2%, #e8e8e8 115.65%);*/
  transition: background 0.3s ease;
 /*  padding-bottom: 10%; */
}
.banner-section.banner-scrolled .banner {
  transform: translateY(-200px);
}
.banner-section.banner-scrolled .banner-shadow {
  display: none;
}

.banner-section.banner-scrolled .banner-shadow-right {
  display: none;
}

.banner-section.banner-scrolled .left-banner-cap {
  bottom: -194px;
}

.banner-section.banner-scrolled .right-banner-cap {
  bottom: -130%;
  right: 0%;
}
.banner-section.banner-scrolled .btn-start {
  background: #000;
}
.banner {
  transition: transform 0.6s ease;
}

.banner-shadow,
.banner-shadow-right,
.left-banner-cap,
.right-banner-cap,
.btn-start {
  transition: all 0.6s ease;
}
.btn-rotate {
  margin-bottom: 16px;
  border: 0px;
  border-radius: 30px;
  background: #e2e2e2;
  filter: opacity(50%);
  transition: background-color 0.3s ease, color 0.3s ease;
}
.btn-rotate.scrolled {
  background: #e2e2e2;
  color: #000000;
  filter: opacity(100%);
}
.btn-start {
  background: #a1a2a2;
  border: 0px;
  border-radius: 60px;
  padding: 20px 30px;
  font-size: 20px;
  color: #ffffff;
}
.card-content {
  background-color: #fff;
  padding: 50px;
  position: relative;
  display: table;
  width: 100%;
  border-radius: 40px;
}
.content-section {
  padding: 0px 15px 15px;
}
.line-svg {
    position: absolute;
    top: 0px;
    /* right: 0; */
    left: -90px;
    height: 90%;
    width: 100%;
}
.content-card {
  width: 100%;
  float: left;
}

.card-tast {
    width: 50%;
    float: left;
    p
}

.cap-1 {
  width: 33%;
  float: right;
}

.card-tast h1 {
    color: #000;
    font-family: 'Inter';
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: -1.92px;
}

.card-tast .your-test {
  color: #9bb8cb;
}
.content-text {
  color: rgba(0, 0, 0, 0.7);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: normal;
}

.card-tast {
  padding-left: 8%;
  padding-top: 6%;
}
img {
  max-width: 100%;
}
.hat {
    padding-top: 30%;
    height: 880px;

}
.botttom-h-150 {
  margin-bottom: -150px;
}
.hat img {
  margin-left: -55px;
}
.secound-section {
    position: relative;
    z-index: 100;
    display: table;
    width: 1425px;
    margin: 0 120px 0 auto;
}

.titlecard h1 {
    color: #000;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 68px;
    letter-spacing: -1.92px;
}
.card-1 {
  background: linear-gradient(
    335.76deg,
    rgba(211, 230, 255, 0.2) 6.16%,
    #8ab1e3 128.28%
  );
  border-radius: 32px;
  position: relative;
}

.cardbox-details {
  padding-top: 70px;
}

.card-one img {
  margin-top: -30px;
  width: 250px;
  display: inline-block;
}

.card-one {
  text-align: center;
  position: relative;
}
.count {
    position: absolute;
    left: 15px;
    top: 15px;
    display: flex;
    width: 52px;
    height: 52px;
    padding: 17px 22px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 999999px;
    background: rgba(36, 36, 36, 0.12);
}
.text-des {
  padding: 15px;
}

.text-des h3 {
  color: #000;
font-size: 22px;
font-style: normal;
font-weight: 550;
line-height: normal;
letter-spacing: -0.32px;
}

.text-des p {
    color: rgba(0, 0, 0, 0.80);
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.22px;
    margin: 0;
}
.mt-100 {
  margin-top: 100px;
}
.mt-200 {
  margin-top: 200px;
}
.ps-50 {
  padding-left: 50px;
}
.w-5px {
  max-width: 55%;
}
.confirm-card {
  background: linear-gradient(360deg, #bbdeff 0%, #5bb0ff 100%);
  border-radius: 20px;
  padding: 20px;
}

.confirm-card .count1 {
  background: #efefef80;
  display: inline-flex;
  width: 40px;
  height: 40px;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #000000;
  border-radius: 100%;
}
.confirm-card h2 {
color: #FFF;
font-family: "Inter";
font-size: 22px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -0.32px;
}

.confirm-card p {
color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.22px;
}
.w-300 {
  width: 350px !important;
}
.bg-gradent {
  background: url("../images/gb.png") no-repeat center top;
}
.bg-gradent {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0%;
  right: 0;
}
.black-bg {
  background: #000000;
  padding: 30px 50px;
  border-radius: 20px;
}
.footer-text h3 {
  font-size: 75px;
  font-weight: 400;
  color: #fff;
  line-height: 71px;
  margin-bottom: 15px;
  font-family: "Montserrat", sans-serif;
}

.footer-text p {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  font-family: "Montserrat", sans-serif;
}

.newsletter {
  display: flex;
  align-items: center;
  background: #dcdcdc4d;
  border-radius: 30px;
  padding: 10px 10px 10px 20px;
  gap: 10px;
}

.newsletter input {
  width: 100%;
  padding: 0px;
  background: transparent;
  outline: none;
  border: 0;
  color: #fff;
}

.newsletter button {
  background: #ffffff;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 5px 15px;
  justify-content: space-between;
  gap: 10px;
  font-size: 16px;
  font-weight: 500;
  font-family: Montserrat;
  color: #404040;
  outline: none;
  border: 0;
}
hr.outline-border {
  background: #8d8d8d;
  margin: 0;
}
footer {
  color: #fff;
  font-family: "Montserrat", sans-serif;
}
.footer-content p {
  font-size: 18px;
  font-weight: 400;
  margin-top: 15px;
}
.social-icon {
  padding: 0px;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 10px;
}
.social-icon a {
  display: inline-block;
}
.footer-menu h3 {
  font-size: 24px;
  font-weight: 400;
  color: #fff;
}

.footer-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-menu ul li a {
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: #fff;
  display: block;
}

.footer-menu ul li {
  padding: 13.5px 0px;
}

#line-svg path {
  stroke-dasharray: 10000; /* This should be the length of the path */
  stroke-dashoffset: 10000;
  transition: stroke-dashoffset 0.2s ease-out;
/*  transition: stroke-dashoffset 0.3s ease-out;*/
}
.scroll-rotate {
  transition: transform 0.1s linear;
  transform-origin: center center;
}
.cap-motion {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}

.cap-motion img {
  width: 180px;
}

.navbar-section {
  position: relative;
  z-index: 99;
}
.outer-rotate {
  transition: transform 1s ease-in-out;
  transform-origin: center;
}
.banner-shadow {
    position: absolute;
    left: -28px;
    bottom: -118px;
}
.banner-shadow-right {
    position: absolute;
    right: -16px;
    bottom: -35px;
}
.btn-start {
  position: absolute;
  bottom: -63px;
  left: 50%;
  transform: translate(-50%, 15px);
}
.left-banner-cap {
  position: absolute;
  left: -8%;
  bottom: -100%;
  width: 450px;
}

.right-banner-cap {
  position: absolute;
  right: -20%;
  bottom: -116%;
  width: 450px;
}
.banner-section.banner-scrolled .right-banner-cap.top-right {
  bottom: -28%;
  z-index: 99;
  right: -14%;
}
.btn-rotate {
  z-index: 100;
  position: relative;
}
.banner-section.banner-scrolled .left-banner-cap.top-left {
  bottom: 15%;
  left: -30%;
}

.banner-section.banner-scrolled h1 {
  opacity: 1;
}

.banner-section.banner-scrolled p {
  opacity: 1;
}

/* Hidden state before scroll */
.animate {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.8s ease-out;
}

/* When in view */
.animate.in-view {
  opacity: 1;
  transform: translateY(0);
}

.animate.pop-in {
  transform: scale(0.8) rotate(-10deg);
  opacity: 0;
  transition: all 1s ease-out;
}
.animate.pop-in.in-view {
  transform: scale(1) rotate(0deg);
  opacity: 1;
}

.zoom-on-scroll {
  transition: transform 1s ease, opacity 1s ease;
  transform: scale(0);
  opacity: 0;
}

.zoom-on-scroll.in-view {
  transform: scale(1);
  opacity: 1;
}
@media (max-width: 1550px) {
  .navbar-section {
    width: 88% !important;
    margin: auto;
  }
}
.design-story {
  display: flex;
  gap: 20px;
}

.our-design-card {
  width: 33%;
  max-width: 504px;
}

.our-design-card-3 {
  width: 27%;
  max-width: 372px;
}
.our-top-3 {
  margin-top: -10px;
}
.our-patch-section {
  display: flex;
  gap: 30px;
}
.our-patch-card {
  width: 50%;
  max-width: 766px;
}
.our-brand-section {
  display: flex;
  gap: 30px;
}
.our-brand-card {
  width: 56.003%;
  max-width: 765px;
}

.our-brand-card-1 {
  width: 33%;
  max-width: 504px;
}
.mt-58 {
  margin-top: -58px;
}
.our-finalize-section {
  display: flex;
  gap: 30px;
}

.our-finalize-card {
  width: 50%;
}

.our-finalize-card-1 {
  width: 47%;
  margin-left: 1%;
  max-width: 635px;
}
.mt-p-80 {
  margin-top: -80px;
}
.mt-120 {
  margin-top: 150px;
}
.hatcap {
    width: 900px;
    position: absolute;
    top: 130px;
    right: 0;
}
/*.hatcap {
  width: 507.806px;
  max-width: max-content;

}*/
.cricle {
  width: 270px;
  height: 270px;
  transform: rotate(30deg);
  position: absolute;
  border-radius: 999999px;
  border: 1px solid #fff;
  background: linear-gradient(167deg, rgba(255, 255, 255, 0) 33.9%, #fff 90.42%);
  right: -2px;
  top: -85px;
}
.banner-section {
  /* position: sticky;
  top: 100px;
  left: 15px;
  right: 15px;  */
  /* width: 100%; */
  z-index: 1000;
  transition: position 0.3s ease;

}

.banner-placeholder {
  height: 100vh; /* Takes 100% view height */
  pointer-events: none;
}
.banner-section.scrolled {
  position: relative;
}

.cap-image-left, .cap-image-right {
      position: absolute;
      
      top: 100%;
      width: 830px;
      z-index: 1;
      transition: transform 0.2s ease-out;
    }

    .cap-image-left {
      left: -7%;
    }

    .cap-image-right {
      right: 0%;
      top: 100%;
    }